.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 16px;

}

.card {
    width: 230px;
    margin: 20px;
}

.name {
    width: 230px;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.price {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15.5px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}  

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
} 